* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
button {
  background-color: whitesmoke;
}
body {
  height: 100vh;
  align-items: center;
  margin: 0;
}

.text-center {
  text-align: center;
}

.m-1 {
  margin: 0.5rem;
}

.m-b-1 {
  margin-bottom: 0.3rem;
}
.underline {
  text-decoration: underline;
}
header {
  flex: 1;
  margin-top: 2rem;
}

header:hover {
  cursor: default;
}

main {
  flex: 9;
  justify-content: space-around;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 500px;
  width: 100%;
  margin-bottom: 2rem;
  text-align: center;
  box-shadow: 0px 0px 4px black;
  border-radius: 2rem;
  background-color: wheat;
}

.padding-1 {
  padding: 1rem;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
input[type='number'] {
  text-align: center;
  border: none;
  border-bottom: 1px solid black;
  background-color: inherit;
  font-size: small;
}

input[type='number']:focus,
button[type='submit']:focus,
a {
  outline: none;
}

.btn {
  border: none;
  border-radius: 0.5rem;
  font-size: small;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0px 0px 4px black;
}

.shadow {
  box-shadow: 0px 0px 4px black;
}

footer {
  flex: 1;
}

footer a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}
