html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

/* Responsive Images */

embed,
iframe,
img,
object,
video {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding-right: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
}

/* Removes all decimals and discs from lists */

ol,
ul {
  list-style: none;
}

/*
 * Completely resets form items
 * ----------------------------
 * Super hard reset that removes all borders
 * and radiuses of all form items (including
 * check boxes and radios)
 */

input,
textarea,
button {
  border: 0;
  border-radius: 0;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  outline: none;
  appearance: none;
  text-align: left;
}

input:hover,
input:active,
input:focus,
textarea:hover,
textarea:active,
textarea:focus,
button:hover,
button:active,
button:focus {
  outline: none;
}

:root {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  background-color: whitesmoke;
}

.text-center {
  text-align: center;
}

.m-1 {
  margin: 0.5rem;
}

.m-t-1 {
  margin-top: 2vh;
}

.m-b-1 {
  margin-bottom: 0.3rem;
}

.underline {
  text-decoration: underline;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.final-text {
  color: #ffffff;
  font-weight: bold;
}

.bg-gradient {
  background: #12c2e9;
  background: linear-gradient(to bottom, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
}

.font-5 {
  font-size: 5vh;
}
.font-4 {
  font-size: 4vh;
}
.font-3 {
  font-size: 3vh;
}

.text-light,
.text-light::placeholder {
  color: #fff;
}

.text-shadow {
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.3),
    0px -5px 35px rgba(255, 255, 255, 0.3);
}

.padding-1 {
  padding: 1rem;
}

.justify-around {
  justify-content: space-around !important;
}

.shadow {
  box-shadow: 0px 0px 4px black;
}

header:hover {
  cursor: default;
}

.container {
  max-width: 500px;
  margin-bottom: 2rem;
  box-shadow: 0px 0px 4px black;
  border-radius: 2rem;
  margin: auto;
}

.board {
  color: #c471ed;
  font-size: 4vh;
  text-shadow: 2px 2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff,
    -2px -2px 0 #fff, 2px 0px 0 #fff, 0px 2px 0 #fff, -2px 0px 0 #fff,
    0px -2px 0 #fff, 2px 2px 2px rgba(0, 0, 0, 0);
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

input[type='number'] {
  border: none;
  border-bottom: 1px solid #fff;
  background-color: inherit;
  font-size: small;
}

input[type='number']:focus,
button[type='submit']:focus,
a {
  outline: none;
}

.btn {
  border: 2px solid #fff;
  color: #fff;
  border-radius: 0.5rem;
  font-size: small;
  padding: 1vh;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0px 0px 4px black;
}

.icon {
  display: block;
  margin: auto;
}

footer a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}
